
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid{
    width: 96%;
    padding-left: 5px;
    padding-right: 5px;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div[class^="col-"]{ 
    /* Starts with */
    padding: 10px;
 }
 

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.32%;}
.col-5{width: 42%;}
.col-6{width: 50%;}
.col-7{width: 58%;}
.col-8{width: 66.64%;}
.col-9{width: 75%;}
.col-10{width: 83.3%;}
.col-11{width: 91.6;}
.col-12{width: 100%;}


